body{
    background-color: #DEE4E7;
}

.login-block{
    display: block;
    max-width: 500px;
    background-color: white;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(204,204,204);
    text-align: center;
    margin-top: 50px;
}

.app-name{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(204,204,204);
    margin-bottom: 20px;
}

.error{
    color: red;
}
