html,body,.main{
    height: 100%;
}

.content{
    margin: auto;
    margin-top: 40px;
}
.app-bar{
    background-color: #DEE4E7;
    display: block;
    border-right-style: solid;
    border-right-color: rgb(204,204,204);
    border-right-width: 1px;
    padding-top: 15px;
    height: 100%;
}

.app-name span{
    font-size: 2rem;
}

.navigation{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.navigation li{
    text-align: center;
    margin-top: 20px;
    height: 40px;
}



.navigation button{
    border-style: solid;
    border-radius: 10px;
    min-width: 210px;
    min-height: 40px;
    background-color: #563d7c;
    color: white;
}


header{
    background-color: white;
    display: block;
    min-height: 70px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(204,204,204);
    background-color: #563d7c;
    color: white;
}

.app-name,.menu-name,.user-info{
    margin: auto;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-primary {
    border-color: #563d7c;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.submit{
    background-color: #563d7c;
    color: white;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #563d7c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
